/* ------------------ FUENTES ------------------ */
/* Fuente Regular */
@font-face {
    font-family: 'Regular';
    src: url('/fonts/Regular.otf') format('opentype');
}

/* Fuente Bold Italic */
@font-face {
    font-family: 'Bold';
    src: url('/fonts/bold.otf') format('opentype');
}

/* Fuente Italic */
@font-face {
    font-family: 'Italic';
    src: url('/fonts/RegularItalic.otf') format('opentype');
}

/* Fuente Bold Italic */
@font-face {
    font-family: 'BoldItalic';
    src: url('/fonts/BoldItalic.otf') format('opentype');
}

/* ------------------ BODY ------------------ */
body {
    margin: 0;
    padding: 0;
    font-family: 'Regular', sans-serif; /* Fuente de mc y una fuente por si falla */
    /* Fondo */
    background-image: url('/images/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

button {
    font-family: 'Regular', sans-serif; /* Fuente de mc y una fuente por si falla */
}

/* ------------------ HEADER ------------------ */
#cabecera-principal {
    padding: 10px 10px;
    justify-content: center;
}

#logo-footer {
    height: 125px;
	transition: transform 0.3s ease; /* Suaviza la animacion de agrandar la img */
}

/* ------------------ Zona Imagen ------------------ */
/* Div de la imagen a adivinar */
#contenedor-imagen-adivinar {
    margin: auto auto;
    height: 375px;
    width: 375px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid greenyellow;
    border-radius: 15px;
}

/* Imagen a adivinar */
#imagen-adivinar {
    height: 175px;
}

/* ------------------ Zona Adivinar ------------------ */
/* Entrada de texto */
#entrada-respuesta{
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    font-size: 120%;
    border: 2px solid greenyellow;
    border-radius: 5px;
    background-color: #222;
    color: white;
}
#entrada-respuesta::placeholder {
    font-family: 'Regular', sans-serif; /* Fuente de mc y una fuente por si falla */
}

/* Boton enviar */
#boton-adivinar {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 120%;
    background-color: greenyellow;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}

/* Cuando pases el raton por el boton */
#boton-adivinar:hover {
    background-color: #6ea72e;
}